@font-face {
  font-family: "AkzidenzGroteskPro-Regular";
  src: url("./fonts/AkzidenzGroteskPro-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/AkzidenzGroteskPro-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/AkzidenzGroteskPro-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/AkzidenzGroteskPro-Regular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/AkzidenzGroteskPro-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/AkzidenzGroteskPro-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/AkzidenzGroteskPro-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkzidenzGroteskPro-Super";
  src: url("./fonts/AkzidenzGroteskPro-Super.eot"); /* IE9 Compat Modes */
  src: url("./fonts/AkzidenzGroteskPro-Super.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/AkzidenzGroteskPro-Super.otf") format("opentype"), /* Open Type Font */
    url("./fonts/AkzidenzGroteskPro-Super.svg") format("svg"), /* Legacy iOS */
    url("./fonts/AkzidenzGroteskPro-Super.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/AkzidenzGroteskPro-Super.woff") format("woff"), /* Modern Browsers */
    url("./fonts/AkzidenzGroteskPro-Super.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "AkzidenzGroteskPro-Bold";
  src: url("./fonts/AkzidenzGroteskPro-Bold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/AkzidenzGroteskPro-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/AkzidenzGroteskPro-Bold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/AkzidenzGroteskPro-Bold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/AkzidenzGroteskPro-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/AkzidenzGroteskPro-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/AkzidenzGroteskPro-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}




body {
	background: #FBF8F2;
 /* background-image: url("вязань.jpg");*/
  font-family: 'AkzidenzGroteskPro-Regular', sans-serif;
  position: relative;
  padding-left: 30px;
	}

.heading {
  font-family: "AkzidenzGroteskPro-Bold",sans-serif;
  font-size: 22px;
  color: #2B3C51;
  font-weight: 700;
  letter-spacing: 1.4px;
  line-height: 20px; 
}

li {
    list-style-type: none;
    font-size: 21px;
   }

p {
  color: #2B3C51;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
}



h2 {
  font-family: "AkzidenzGroteskPro-Bold",sans-serif;
  font-size: 36px;
  color: #2B3C51;
  font-weight: 700;
  line-height: 41px; 
  margin-bottom: 12px;
}

.lead {
  font-family: "AkzidenzGroteskPro-Bold",sans-serif;
  font-size: 27px;
  color: #2B3C51;
  font-weight: 700;
  line-height: 37px; 
}

h5 {
  font-family: "AkzidenzGroteskPro-Super",sans-serif;
  font-size: 21px;
  color: #2B3C51;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.navbar-brand {
  font-family: "AkzidenzGroteskPro-Super",sans-serif;
  font-size: 28px;
  color: #2B3C51!important;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 4px;
  padding-top: 25px;
  letter-spacing: 1.4px;
}

.navbar-light .navbar-nav .nav-link {
  color: #2B3C51;
  padding-right: .6rem;
}

.nav-item.active {
   text-decoration: underline;
}

.navbar-expand-lg .navbar-collapse
{
  flex-flow: row-reverse;
  padding-top: 25px;
  padding-right: 50px;
}

.bg-light {
  background-color:transparent!important;
}



.col-6 {
  padding-left: 15px;
}

.img-fluid.image_1 {
  padding-top: 20px;
}

.img-fluid.image_2 {
  padding-top: 10px;
/*  padding-left: 12px;*/
}



.name-1 {
  padding-left: 40px;
  margin-top: 10px;
}

 .container.part2 {
  margin-top: 55px;

 }

 .container.main {

  margin-top: -3px;
 }

 .container.part3 {
  margin-top: 55px;
 }

 .container.part4 {
  margin-top: 70px;
  margin-bottom: 45px;
 }

.picture_1 {
 text-align: center;
}


.picture_3 {
  padding-top: 65px;
  text-align: center;
}

 .col-sm-8 {
  margin-left:-20px;

 }

 .сol-6.link {
  text-align: right;
 }

 .col-6.illustration {
  padding-top:5px;
 }


 .link-all {
  font-family: "AkzidenzGroteskPro-Regular",sans-serif;
  color: #2B3C51;
  font-weight: 400;
  font-size: 21px;
  letter-spacing: 0.4px;
  line-height: 30px;
 }

 .sweater-1 {
  padding-top: 20px;
 }

 .sweater-1:hover {
  transform: scale(1.1);
 }

  .sweater-2 {
  padding-top: 20px;
 }

  .sweater-2:hover {
  transform: scale(1.1);
 }

  .sweater-3 {
  padding-top: 20px;
 }

  .sweater-3:hover {
  transform: scale(1.1);
 }

 .price {
  padding-top: 26px;
 }

 .price-link {
  padding-top: 30px;
  font-family: "AkzidenzGroteskPro-Regular",sans-serif;
  color: #2B3C51;
  font-weight: 400;
  font-size: 21px;
  letter-spacing: 0.4px;
  line-height: 30px;
 }

.page-footer.font-small.blue.pt-4 {
  margin-top: 55px;
  margin-bottom: 35px;
}

 .linkAllModels {
  text-align: right !important;
  padding-top: 12px;
  padding-right: 43px;
 }

.nav-link:hover {
  text-decoration: underline;
  color: #007bff !important;

}

.nav-link.active {
  color: #2B3C51 !important;
}


.footer-text {
  font-family: "AkzidenzGroteskPro-Regular",sans-serif;
  color: #2B3C51;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.col-md-3.mb-md-0.mb-3 {
  margin-top: 35px;
  margin-left: -16px;
}

.social-image {
  padding-left: 100px!important;
}

.Vyazan-image {
  background-image: url("picture_1.png");
  background-repeat: no-repeat;
  height: 628px;

}

.Zag {
  padding-left: 30px;
  padding-top: 48px;
  max-width: 620px;

}

.Podzag {
  padding-top: 26px;
  max-width: 250px;
  margin-left: 160px;

}

.Podzag-text {
  font-family: "AkzidenzGroteskPro-Regular",sans-serif;
  color: #2B3C51;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;

}


